
<div class="block-content-center  ">
  <h1 class="display-3">О проекте</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid dignissimos earum eum ex explicabo molestias provident quia quidem recusandae sapiente sunt, suscipit tempora velit voluptas voluptates voluptatum. Eius libero modi suscipit. A aperiam cum debitis, delectus deserunt inventore laborum necessitatibus nulla obcaecati odio porro quae rem, saepe soluta ullam. ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur dolorem doloribus excepturi fugit, hic illum inventore, maiores neque provident quia, quidem quis tenetur. Amet harum molestias perferendis! Architecto laborum nobis officiis rerum soluta! Amet assumenda aut, autem, commodi cupiditate deserunt dolores eligendi laborum magni molestias quas quia rem ut!</p>
</div>
