
<!--<div class="jumbotron">-->
  <!--<h1 class="display-5">Делитесь своими эмоциями</h1>-->
  <!--<p class="lead">Размещайте свои фотографии </p>-->
  <!--<hr class="my-4">-->
  <!--<p class="lead">-->
    <!--<a class="btn btn-danger" href="#" role="button">Создать аккаунт</a>-->
    <!--<a class="btn btn-info" href="#" role="button">Войти</a>-->
  <!--</p>-->
<!--</div>-->


    <div class="block-content-center  ">

      <h1 class="display-3">Делитесь своими эмоциями</h1>
      <h1 class="display-5">Размещайте свои фотографии</h1>
      <hr class="my-4">
      <p class="lead">
      <a class="btn btn-danger" href="#" role="button">Создать аккаунт</a>
      <a class="btn btn-info" href="#" role="button">Войти</a>
      </p>

    </div>
